.about {
    background-color: $color-white;
    padding-bottom: 10rem;

    &-title {
        padding: 2rem 0;
        text-align: center;
        position: relative;
        top: -4rem;
        background-color: $color-white;
        border-radius: 10px;
    }

    &-icon {
        font-size: 3rem;
        color: $color-primary;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    span {
        color: $color-primary;
        font-size: 2rem;
    }

    &-box {
        display: flex;
        justify-content: space-evenly;
    }
    
    &-text {
        box-shadow: $shadow-dark;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 2rem;
        transition: all .2s;
    }

    &-text:hover {
        transform: translateY(-1.01rem);
    }

    &-map {
        border-radius: 10px;
        box-shadow: $shadow-dark;
        position: relative;
        transition: all .2s;
        display: flex;
        align-items: center;

        div {
            position: absolute;
            width: 90%;
            height: 90%;
            overflow: hidden;
            border-radius: 10px;
        }

        img {
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
    }

    &-map:hover {
        transform: translateY(-1.01rem);
    }
}

// MEDIA

@media (max-width: 1200px) {
    .about {
        &-map {
            display: flex;
            align-items: center;

            div { height: 68%; }
        }
    }
}

@media (max-width: 991px) {
    .about {
        padding-bottom: 10rem;
    
        &-box {
            display: flex;
            flex-direction: column;
        }
    
        &-map {
            position: relative;
            height: 295px;
            width: 100%;
            margin-top: 3rem;
    
            div {
                position: relative;
                height: auto;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1rem;
            }
    
            img {
                height: auto;
                width: auto;
                position: relative;
                transform: translate(0%, 0%);
                top: 0%;
                left: 0%;
                //right: auto;
                margin: {
                    left: auto;
                    right: auto;
                }
            }
        }
    }
}

