.adv {
    margin-top: 10rem;
    margin-bottom: 10rem;

    .h2 {
        box-shadow: $shadow-dark;
        padding: 1.1rem;
        border-radius: 10px;
        text-align: center;
    }

    .row {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    &-card {
        width: 85%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 90%;
            margin-top: 2rem;
        }

        &-body {
            width: 50%;
        }
    }

    .card-body {
        width: 100%;

        div:last-of-type {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 767px) {
    .adv {
        margin-top: 5rem;
        margin-bottom: 5rem;
    
        &-card {
            width: 70%;
    
            img {
                width: 60%;
            }
        }
    }
}