.archive {
    margin-bottom: 5rem;

    &-title {
        text-align: center;
        box-shadow: $shadow-dark;
        border-radius: 10px;
        position: relative;
        padding: 1.1rem;
        margin: {
            left: 1rem;
            right: 1rem;
        }

        &-old {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: $shadow-dark;
            border-radius: 10px;
            height: 104px;
            padding: 1.1rem;
            margin: {
                left: 1rem;
                right: 1rem;
            }
        }        
    }

    .btn-mobile {
        display: none;
        visibility: hidden;
    }

    &-img {
        margin-right: 2rem;
        box-shadow: $shadow-dark;
        border-radius: 0 0 10px 10px;
        position: relative;
        height: 87.5%;
        transition: all .5s ease;

        div {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 0 0 10px 10px;
            z-index: 10;
        }
        
        img {
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        img:hover { opacity: .3; }
    }

    &-old {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    &-date {
            padding-left: 1rem;
            h2 {
                font-size: 2.5rem;
            }
    }
}

.btn-archive {
    width: auto;
    font-size: 2rem;
    margin: {
        left: 1rem;
        right: 1rem;
    }

    i { margin-left: 1.5rem; }
}

// STYLING FOR CARDS - MAIN PAGE

.card {
    border: none;
    border-radius: 10px;
    box-shadow: $shadow-dark;
    margin: {
        left: 1rem;
        right: 1rem;
        top: 1.5rem;
        bottom: 1.25rem;
    }

    &-side {
        transition: all .5s ease;
        height: 100%;
        width: 100%;
        overflow: hidden;

        >div { height: 10%; }
            
            img { 
                width: 100%;
                border-radius: 10px;
            }
            
            &--front { opacity: 1; }
            
            &--back {
                position: absolute;
                align-items: center;
                justify-content: center;
                opacity: 0;

                h2 {
                    text-align: center;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50%;
                    opacity: 1;
                    z-index: 2;
                }
            }
        }

        &-icons {
            text-align: center;
            display: flex;
            justify-content: space-around;
            font-size: 3.5rem;
            position: relative;
            top: 3rem;

            i{ color: $color-primary; }    
        }       

    &:hover &-side--front { opacity: .2; }

    &:hover &-side--back { opacity: 1; }
}

@media (max-width: 991px) {
    .archive {
        margin-bottom: 5rem;

        &-old { display: none; }
    
        &-title {
            text-align: center;
            box-shadow: $shadow-dark;
            border-radius: 10px;
            position: relative;
            padding: 1.1rem;
    
            &-old {
                height: auto;
                margin-top: 3rem;
            }        
        }

        .btn-mobile {
            display: block;
            visibility:visible;
            width: 80%;
            margin: {
                left: auto;
                right: auto;
                top: 1rem;
            }
        }

        &-date {
            h2 {
                font-size: 2rem;
                padding-top: 1rem;
            }
    }

    }

    .card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        &-actual {
            width: 80%;
            margin-left: auto;
            margin-right: auto;

            &-img { width: 100%; }
        }

        &-side {
            
            &--front {
                z-index: 2;
                border-radius: 10px;
            }

            &--back {
                position: relative;
                opacity: 1;
                border-top: 1px solid $color-primary;
    
                h2 {
                    margin-top: 0%;
                }
            }
        }
    
        &-icons { 
            top: 0rem;

            i{ font-size: 2.5rem; }    
        }       
    }
}

@media (max-width: 576px) {
    .archive {
        &-date {
            justify-content: center;
            align-items: center;
        }
    }
}