.contact {
    &-1,
    &-2,
    &-3 {
        margin-bottom: 3rem;
    }    

    .row {
        align-items: stretch;
        justify-content: center;
        margin-bottom: 10rem;
    }

    .h2 {
        box-shadow: $shadow-dark;
        padding: 1.1rem;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 3rem;
    }

    .h4 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .col-lg-3 {
        .h4 {margin-bottom: 3rem;}
    }

    &-card {
        box-shadow: $shadow-dark;
        border-radius: 10px;
        padding: 2rem;
        height: 31.5rem;

        div {
            display: flex;
            align-items: center;
            margin-left: 10%;
        }

        p {
            margin-top: 1rem;
            font-size: 1.4rem;
            width: 100%;
            display: inline-block;
            line-height: 1.5;
        }

        svg {
            height: 2rem;
            width: 2rem;
            fill: $color-primary;
            margin-right: 3rem;
        }

        .h3 {
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            color: $color-primary-dark;
            margin-top: 1rem;
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 991px) {
    .contact {

        &-1 { order: 2; }

        &-2 { order: 1; }

        &-3 { order: 3; }

        &-1,
        &-2,
        &-3 {
            margin-bottom: 3rem;
        }

        .col-lg-3 {
            .h4 {margin-bottom: 3rem;}
        }
    
        &-card { height: auto; }
    }
}