// MAIN NAV //

.navbar {
    height: 10vh;
    font-size: 2rem;
    color: $color-white;

    &-archive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        ul {
            flex-direction: row;
            font-size: 1.5rem;
            margin-left: 0;
            
            li {
                padding: 0;
                a { padding: 0; }
            }
        }
    }

    &-brand {
        font-size: 3rem;
        color: $color-primary;

        &:hover {
            color: $color-primary;
        }
    }

    &-toggler {
        position: relative;
        top: .5rem;
        font-size: 2.5rem;

        i::before {
            content: "\f0c9";
            color: $color-primary;
        }
    }

    &-collapse {
        background-color: $color-white;
        border-radius: 10px;
    }

    &-nav { margin-left: auto; }

    .nav-item {
        padding: 1rem;
        border-radius: 10px;
    }

    .nav-link:link,
    .nav-link:visited {
        display: inline-block;
        padding: .5rem 2.3rem;
        color: $color-grey-dark-3;;
        text-decoration: none;
        background-image: linear-gradient(120deg,
            transparent 0%, 
            transparent 50%, 
            $color-primary 50%);
        background-size: 220%;
        border-radius: 10px;
        transition: all .4s;
    }

    .nav-link:hover,
    .nav-link:active {
        background-position: 100%;
        color: $color-white;
        transform: translateX(1rem);
    }

    i {
        color: $color-grey-dark-3;
        font-size: 3rem;
        margin-left: 1rem;
        margin-right: 2rem;

        &:hover,
        &:active {
            color: $color-primary;
            cursor: pointer;
        }
    }
}

@media (max-width: 991px) {
    .navbar { 
        i { margin-left: 3rem}
        img { margin-bottom: 2rem; } }
}
