// STYLING FOR PRICING POPUP
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000a8;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    .h2 { margin-left: 2rem; }

    &-close {
        &:link,
        &:visited {
            color: $color-primary;
            position: absolute;
            top: 1.5rem;
            right: 3.5rem;
            font-size: 4rem;
            text-decoration: none;
            display: inline-block;
        }

        &:hover { transform: scale(1.1); }
    }

    &-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 64rem;
        width: 60%;
        background-color: #f7f4f4;
        box-shadow: $shadow-dark;
        padding: 4rem;
    }

    &-content {
        display: flex;
        margin-left: 2rem;

        .h4 {
            font-size: 1.5rem;
            color: $color-primary;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }

    &-details {
        margin-top: 1.5rem;

        input {
            font-size: 1.4rem;
            font-family: inherit;
            color: inherit;
            padding: .5rem;
            border-radius: 10px;
            display: block;
            width: 70%;
            border: 1px solid $color-primary;
        }
    
        label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: .5rem;
            color: $color-primary;
            display: block;
            transition: all .3s;
        }
    
        input:placeholder-shown + label{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }
    }

// STYLING FOR CHECKBOX

    &-checkbox {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-around;

        .form-check {
            font-size: 1.5rem;
            
            &:last-of-type {
                color: $color-primary;
                font-weight: 700;
            }

            &-input {
                position: relative;
                top: 2px;
                &:checked {
                    border: $color-primary;
                    background-color: $color-primary;
                }
            }
        }
    }

    .form-label {
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-primary;
    }

// STYLING FOR EDITIONS LIST

    &-edycje {
        label {
            font-size: 1.5rem;
            margin-right: 2rem;
            color: $color-primary;
            font-weight: 700;
        }

        select {
            padding: .5rem;
            border: none;
            color: $color-primary-dark;
        }
    }

// STYLING FOR ATTACHEMENT

    &-file {
        width: 75%;
        margin-left: 2rem;
        margin-right: auto;
        margin-bottom: 2rem;

        p {
            font-size: 1.2rem;
            margin-bottom: .3rem;
        }

        p:last-child { margin-bottom: 1rem; }
    }
}

// MEDIA

@media (max-width: 1299px) {
    .popup {

        &-box { width: 70%; }
    
        &-details {
            input { width: 90%; }
        }
    }
}

@media (max-width: 1099px) {
    .popup {
    
        &-box { width: 100%; }
    }
}

@media (max-width: 767px) {
    .popup {
        height: 100vh;
        width: 100%;
    
        &-box {
            height: 90%;
            width: 100%;
            padding: 2rem;
        }
    
        &-content { margin-left: 0rem; }
    
        &-details {
            margin-top: 1rem;
    
            input { width: 90%; }
        }
    }
}

@media (max-width: 575px) {
    .popup {
    
        .h2 {
            font-size: 1.5rem;
            margin-left: 1rem;
        }
    
        &-close {
            &:link,
            &:visited {
                top: 0rem;
                right: 2.5rem;
                font-size: 3rem;
            }
        }

        .col-lg-6 { width: 50%; }
    
        &-box {
            height: 100%;
            width: 100%;
            padding: 1rem;
        }
    
        &-content {
            margin-left: 1rem;
    
            .h4 {
                font-size: 1.3rem;
                color: $color-primary;
                margin-bottom: 2rem;
                margin-top: 1rem;
            }
        }
    
        &-details {
            margin-top: 1.5rem;
    
            input { width: 95%;}
        }
    
    // STYLING FOR CHECKBOX
    
        &-checkbox {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            align-items: flex-start;
    
            .form-check {
                font-size: 1.3rem;
                
                &:last-of-type { font-weight: 400; }
            }
        }

    // STYLING FOR EDITIONS LIST    

        &-edycje {
            label { font-size: 1.4rem; }
    
            select { width: 80%; }
        }    
    
    // STYLING FOR ATTACHEMENT
    
        &-file {
            width: 90%;
            margin-left: 1rem;
        }
    }
}

// STYLING FOR ADV POPUP

.adv-popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000a8;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: all .5s;

    &:target {
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    &-close {
        &:link,
        &:visited {
            color: $color-primary;
            position: absolute;
            top: 1.5rem;
            right: 3.5rem;
            font-size: 4rem;
            text-decoration: none;
            display: inline-block;
        }

        &:hover { transform: scale(1.1); }
    }

    &-box {
            position: relative;
            transition: all .2s;
            margin-left: 25%;
            margin-right: 25%;
            width: 50%;
            height: 100%;
    
            div {
                position: absolute;
                width: 100%;
                height: 100%;
            }
    
            img {
                height: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
        }
}